// Imports
@import url('http://fonts.googleapis.com/css?family=Pacifico')
@import url('http://cdn.jsdelivr.net/g/foundation@5.2.2(css/foundation.min.css)')

// Web fonts
@font-face
	src: url(ASSETS_PATH + 'font/baba-icons.svg') format('svg')
	font-family: baba-icons
	font-style: normal
	font-weight: normal

// Design settings
$font-logo = Pacifico, sans-serif
$font-main = 'Helvetica Neue', 'Helvetica', Arial, sans-serif
$font-icon = baba-icons
$font-size = 14px
$color-background = #eee
$color-foreground = #2e281f
$padding = 20px
$max-width = 1200px
$header-height = 26px

$color-red = #d32
$color-yellow = #e92
$color-green = #7a3

// CSS reset
global-reset()
reset-html5()

// Icons
i.icon
	font: normal $font-size $font-icon
	&.icon-edit
		&::before
			content: '\e800'
	&.icon-delete
		&::before
			content: '\e801'

// Layout
html, body
	background: $color-background
	color: $color-foreground
	font: $font-size/1.4 $font-main

#layout
	// Flexbox layout
	display: flex
	flex-flow: column
	align-items: center
	min-height: 100vh
	.header-container
		flex: 0 1

		min-width: 100%
		background: $color-foreground
		border-bottom: 1px solid #fff
		box-shadow: 0 0 10px rgba(#000, .25)
	.contents-container
		flex: 1 1

		background: #fff
	.footer-container
		flex: 0 1

		min-width: 100%
		background: lighten($color-background, 3)
		border-top: 1px solid #fff
		color: lighten($color-foreground, 30)

header
	margin: 0 auto
	padding: ($padding / 2) $padding
	width: $max-width
	h1
		font: $header-height/$header-height $font-logo
		text-transform: lowercase
		display: inline-block
		color: #fff
	.slogan
		color: lighten($color-foreground, 50)
		font: $font-size/$header-height $font-logo
		text-transform: lowercase
		float: right

#contents
	width: $max-width
	padding: $padding

footer
	margin: 0 auto
	padding: ($padding / 2) 0
	width: $max-width
	text-align: center
	font-size: $font-size - 3px

// Word list and sentence builder styles
.builder
	margin: ($padding / 2) 0
	border: 1px solid #eee
	padding: ($padding / 4)

.builder-wordlist
	$line-height = $font-size + 12px
	display: flex
	flex-flow: row wrap

	white-space: nowrap
	cursor: default
	user-select: none
	ul
		margin: 0 !important
	ul, ol, li, div
		line-height: $line-height
	li.word
		display: inline-flex
		flex-flow: row

		background: #eee
		text-shadow: 0 1px 0 rgba(#fff, .7)
		overflow: hidden
		margin: 0 5px 0 0
		span.word
			display: inline-block
			margin: 0 5px

.builder-sentence
	$line-height = $font-size + 12px
	white-space: nowrap
	cursor: default
	user-select: none
	.button.add // foundation override
		height: $line-height
		line-height: $line-height
		padding-top: 0
		padding-bottom: 0
		margin: 0
	ul, ol, li
		margin: 0
		line-height: $line-height
	& > li
		margin: 0 5px 0 0
	.static
		display: inline-flex
		cursor: move
		padding: 0 5px
		transition: .3s background
		&:hover
			background: rgba(#000, .05)
	.placeholder
		display: inline-flex
		flex-flow: row

		// Word class coloring
		&.noun
			background: #dec
		&.verb
			background: #ecb

		background: #ccc
		text-shadow: 0 1px 0 rgba(#fff, .7)
		overflow: hidden
		.ph-prefix
			display: inline-flex
			flex-flow: row

			background: #eee
			li
				border-right: 1px solid #fff
				padding: 0 5px
		.ph-word
			display: inline-flex
			flex-flow: row

			cursor: move
			transition: .3s background
			.ph-class
				padding: 0 5px
				text-transform: uppercase
				font-size: $font-size - 4px
				font-weight: bold
				background: rgba(#fff, .5)
				margin: 4px
				line-height: $line-height - (@margin * 2)
			.ph-group
				font-weight: bold
				margin: 0 5px
			.ph-preview
				margin: 0 5px
				display: none // only show after user request
			&:hover
				background: rgba(#fff, .3)
		.ph-postfix
			display: inline-flex
			flex-flow: row

			background: #eee
			li
				border-left: 1px solid #fff
				padding: 0 5px
	&.preview
		.ph-prefix, .ph-postfix, .ph-word *, .ph-actions
			display: none !important
		.ph-word .ph-preview
			display: block !important

// Common action popups
.builder-wordlist,
.builder-sentence
	.ui-sortable-placeholder
		outline: 1px solid rgba($color-yellow, .5)
		background: rgba($color-yellow, .1) !important
		visibility: visible !important
		vertical-align: top
	li.buttons
		display: inline-flex
		flex-flow: row
	ul.actions
		display: inline-flex
		flex-flow: row

		width: 0
		transition: .3s width
		li
			cursor: pointer
			flex: 1 1
			background: #eee
			font-weight: bold
			text-align: center
			border-left: 1px solid #fff
			&:hover
				background: #ccc
			&.delete
				color: $color-red
				&:hover
					color: #fff
					background: $color-red
					text-shadow: 0 1px 0 rgba(#000, .7)
	li.word,
	.placeholder
		&:hover
			.actions
				width: 44px
