// Imports
@import url('http://fonts.googleapis.com/css?family=Pacifico|Roboto:300,400,700')

// Web fonts
@font-face
	src: url('/static/font/baba-icons.svg') format('svg')
	font-family: baba-icons
	font-style: normal
	font-weight: normal

// Design settings
$font-logo = Pacifico, sans-serif
$font-main = Roboto, sans-serif
$font-icon = baba-icons
$color-foreground = #2e281f
$site-width = 70em
$header-height = 3.5em
$gutter = 2em

$color-accent = #d32
$color-red = #d32
$color-yellow = #e92
$color-green = #7a3

// CSS reset
global-reset()

// Icons
i.icon
	font: normal 1em $font-icon
	&.icon-edit
		&::before
			content: '\e800'
	&.icon-add
		&::before
			content: '\e802'
	&.icon-delete
		&::before
			content: '\e804'

// Main elements
p
	margin: ($gutter / 2) 0

strong
	font-weight: 700

a
	color: $color-accent
	transition: all .2s ease
	&:hover
		color: lighten($color-accent, 15)

// Layout
html, body
	font: 300 100%/1.5 $font-main
	color: $color-foreground
	background: url('/static/img/background.png')

header, #contents, footer
	max-width: $site-width
	margin: 0 auto
	padding: 0 $gutter

header, #contents
	box-shadow: 0 10px 40px rgba($color-foreground, .1)

header
	display: flex
	align-items: center
	background: $color-foreground
	color: #fff
	height: $header-height
	h1
		flex: 1 1 auto
		font: 1.5em $font-logo
		text-transform: lowercase
		color: #fff
	.slogan
		flex: 0 1 auto
		color: lighten($color-foreground, 50)
		font: 1em $font-logo
		text-transform: lowercase

#contents
	background: #fff
	padding-top: $gutter
	padding-bottom: $gutter
	section
		margin: $gutter 0
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0

footer
	text-align: center
	color: lighten($color-foreground, 50)
	text-shadow: 0 1px #fff
	a
		color: lighten($color-foreground, 50)
		&:hover
			color: lighten($color-foreground, 20)

// Builder styles
$builder-gutter = 5px
.builder
	cursor: default
	background: desaturate(lighten($color-foreground, 70), 10)
	box-shadow: inset 0 1px 1px rgba(#000, .2)
	display: flex
	padding: $builder-gutter 0 0 $builder-gutter
	line-height: 1.5em
	text-shadow: 0 1px 0 rgba(#fff, .7)
	ul,
	ol,
	li,
	div
		display: flex
		flex: 0 1 auto
	& > ul,
	& > ol,
	& > li,
	& > div
		margin: 0 $builder-gutter $builder-gutter 0
	li
		display: flex
		flex: 0 1 auto
	& > li
		.actions
			overflow: hidden
			width: 0
			li
				cursor: pointer
				border-left: 1px solid @background
				padding: 0 ($gutter / 4)
				&:hover
					background: $color-foreground
					color: #fff
					text-shadow: 0 1px 1px rgba(#000, .5)
		&:hover
			padding-right: 0
			.actions
				width: auto
				.delete:hover
					background: $color-red
	.icon::before
		line-height: @line-height
		font-size: .6em
	.handle
		cursor: move
	.ui-sortable-placeholder
		background: rgba($color-yellow, .3) !important
		visibility: visible !important
		vertical-align: top
	.buttons
		.add
			cursor: pointer
			padding: 0 ($gutter / 4)
			position: relative
			background: rgba($color-foreground, .7)
			color: #fff
			text-shadow: 0 1px 1px #000
			text-align: center
			&:hover
				background: $color-foreground
	#dropdown
		position: absolute
		top: 0
		left: 0
		display: none


// Word list
.builder-wordlist
	li.word
		box-shadow: 0 1px 1px rgba(#000, .3)
		background: #fff
		span.word
			padding: 0 ($gutter / 4)

// Sentence builder
.builder-sentence
	li.placeholder
		box-shadow: 0 1px 1px rgba(#000, .3)
		background: #fff
		.prefix
			color: lighten($color-foreground, 40)
			li
				border-right: 1px solid #ddd
				padding: 0 ($gutter / 4)
		.word
			padding: 0 ($gutter / 4) 0 0
			.class, .group
				text-transform: uppercase
				font-size: .6em
				padding: 0 ($gutter / 4)
			.class
				font-weight: 700
				background: #eea
			.group
				margin-right: ($gutter / 4)
		.postfix
			color: lighten($color-foreground, 40)
			li
				border-left: 1px solid #ddd
				padding: 0 ($gutter / 4)
