doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')

		title Baba

		link(rel='stylesheet', href='/static/css/main.css', type='text/css')

	body
		header
			h1 Baba
			.slogan Create garbage texts

		#contents
			section
				ul.builder.builder-wordlist
					li.word
						span.word lorem
						ul.actions
							li.edit
								i.icon.icon-edit
							li.delete
								i.icon.icon-delete
					li.word
						span.word ipsum
						ul.actions
							li.edit
								i.icon.icon-edit
							li.delete
								i.icon.icon-delete
					li.word
						span.word dolor
						ul.actions
							li.edit
								i.icon.icon-edit
							li.delete
								i.icon.icon-delete

			section
				ul.builder.builder-sentence
					li.static
						.handle lorem ipsum
					li.placeholder.verb.verb-git-term
						ol.prefix.misc.misc-a-an
							li a/an
						.word.handle
							.class verb
							.group git term
							.preview a reforking
						ol.postfix.verb-tense.verb-tense-pp
							li ·ing
							li ·s
						ul.actions
							li.edit
								i.icon.icon-edit
							li.delete
								i.icon.icon-delete
					li.static
						.handle dolor sit amet
					li.buttons
						.add.dropdown(href='#')
							i.icon.icon-add
							ul#dropdown
								li Phrase
								li Verb

		footer
			p
				| Baba Grammar Creator by Kim Silkebækken
				=' · '
				a(href='https://github.com/Lokaltog/baba') GitHub repo

	script(src='//cdn.jsdelivr.net/g/jquery@2.1.0,jquery.ui@1.10.4(jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js)')
	script(src='/static/js/main.js')
