doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')

		title Baba Grammar Creator

		link(rel='stylesheet', href='/static/css/main.css', type='text/css')

	body
		header
			h1 Baba
			.slogan Garbage text generator

		#contents

		footer
			p
				| Baba Grammar Creator by Kim Silkebækken
				=' · '
				a(href='https://github.com/Lokaltog/baba') GitHub repo

	script(id='wordlist-template', type='text/ractive')
		section.wordlists
			!='{{#wordlists:classIdx}}'
			!='{{#groups:groupIdx}}'
			ul.wordlist-label
				li.group {{label}}
				li.class {{../../label}}
				li.toggle
					i.icon.icon-minus
			ul.builder.builder-wordlist
				!='{{#sortWords(words, sortOrder)}}'
				li.word
					span.word {{word}}
					ul.actions
						li.delete(on-click='wordlist-delete-word:{{words}}')
							i.icon.icon-delete
				!='{{/words}}'
				li.add-textfield
					input(type='text', placeholder='add word', data-autosize-input, on-change='wordlist-add-word')
				li.buttons
					.add.btn(href='#')
						i.icon.icon-add
				li.actions
					.ascending
						input(type='radio', name='{{.sortOrder}}', value='asc', id='wordlist-sort-asc-{{classIdx}}-{{groupIdx}}', checked)
						label.btn(for='wordlist-sort-asc-{{classIdx}}-{{groupIdx}}')
							i.icon.icon-sort-ascending
					.descending
						input(type='radio', name='{{.sortOrder}}', value='desc', id='wordlist-sort-desc-{{classIdx}}-{{groupIdx}}')
						label.btn(for='wordlist-sort-desc-{{classIdx}}-{{groupIdx}}')
							i.icon.icon-sort-descending
			!='{{/groups}}'
			!='{{/wordlists}}'

	script(id='sentence-template', type='text/ractive')
		section.sentences
			!='{{#sentences:idx}}'
			ul.sentence-label
				li.label {{label}}
				li.toggle
					i.icon.icon-minus
			ul.builder.builder-sentence
				!='{{#elements}}'

				!='{{#static}}'
				!='{{#preview}}'
				// preview static phrase
				li.static.preview
					.word {{phrase}}
				!='{{/preview}}'

				!='{{^preview}}'
				// static phrase
				li.static
					.word {{phrase}}
					ul.actions
						li.edit
							i.icon.icon-edit
						li.delete
							i.icon.icon-delete
				!='{{/preview}}'
				!='{{/static}}'

				!='{{^static}}'
				!='{{#preview}}'
				// preview word
				li.placeholder.preview(class='word-{{classIdx}}-{{groupIdx}}')
					.class(class='{{classFromIdx(classIdx).class}}')
						| {{previewWord(groupFromIdx(classIdx, groupIdx), this)}}
				!='{{/preview}}'

				!='{{^preview}}'
				// display placeholder with edit functionality
				li.placeholder(class='word-{{classIdx}}-{{groupIdx}}')
					ol.prefix
						!='{{#prefix}}'
						li(class='{{getKeypath(this).class}}') {{getKeypath(this).label}}
						!='{{/prefix}}'
					.word
						.class(class='{{classFromIdx(classIdx).class}}') {{classFromIdx(classIdx).label}}
						.group(class='{{classFromIdx(classIdx).class}}') {{groupFromIdx(classIdx, groupIdx).label}}
					ol.postfix
						!='{{#postfix}}'
						li(class='{{getKeypath(this).class}}') {{getKeypath(this).label}}
						!='{{/postfix}}'
					ul.actions
						li.edit
							i.icon.icon-edit
						li.delete
							i.icon.icon-delete
				!='{{/preview}}'
				!='{{/static}}'
				!='{{/elements}}'

				li.buttons
					// hide add button on preview
					!='{{^preview}}'
					.add.dropdown.btn(href='#')
						i.icon.icon-add
						ul#dropdown
							li.static-phrase Phrase

							!='{{#wordlists}}'
							li(class='{{class}}') {{group}}
							!='{{/wordlists}}'
					!='{{/preview}}'

				li.actions
					!='{{#preview}}'
					.refresh
						span.btn(on-click='update-keypath')
							i.icon.icon-refresh
					!='{{/preview}}'
					.preview
						input(type='checkbox', checked='{{preview}}', id='sentence-preview-{{idx}}')
						label(for='sentence-preview-{{idx}}').btn Preview
			!='{{/sentences}}'

	script(id='contents-template', type='text/ractive')
		!='{{>wordlists}}'
		!='{{>sentences}}'

	script(src='//cdn.jsdelivr.net/g/jquery@2.1.0,ractive@0.4.0')
	script(src='/static/js/uglifyjs.min.js')
	script(src='/static/js/main.js')
