doctype html
html.no-js(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
		meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')

		title Baba Grammar Creator

		link(rel='stylesheet', href='static/css/main.css', type='text/css')

	body
		#layout
			.header-container
				header
					h1 Baba
					.slogan Create garbage texts

			.contents-container.container
				#contents
					ul.builder.builder-wordlist
						li.word
							span.word lorem
							ul.actions
								li.edit
									i.icon.icon-edit
								li.delete
									i.icon.icon-delete
						li.word
							span.word ipsum
							ul.actions
								li.edit
									i.icon.icon-edit
								li.delete
									i.icon.icon-delete
						li.word
							span.word dolor
							ul.actions
								li.edit
									i.icon.icon-edit
								li.delete
									i.icon.icon-delete

					// .builder.builder-sentence.preview
					ul.builder.builder-sentence
						li.static
							.handle lorem ipsum
						li.placeholder.verb.verb-git-term
							ol.ph-prefix.tf-misc.tf-misc-a-an
								li a/an
							.ph-word.handle
								.ph-class verb
								.ph-group git term
								.ph-preview a reforking
							ol.ph-postfix.tf-verb-tense.tf-verb-tense-pp
								li ·ing
								li ·s
							ul.actions
								li.edit
									i.icon.icon-edit
								li.delete
									i.icon.icon-delete
						li.static
							.handle dolor sit amet
						li.buttons
							a.button.dropdown.add(data-dropdown='dropdown-add-1', href='#') Add
							ul#dropdown-add-1.f-dropdown(dada-dropdown-content)
								li
									a(href='#') Phrase
								li
									a(href='#') Verb

			.footer-container
				footer
					p Baba Grammar Creator

	script(src='http://cdn.jsdelivr.net/g/jquery@2.1.0,jquery.ui@1.10.4(jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js),foundation@5.2.2(js/foundation.min.js+js/vendor/modernizr.js+js/vendor/fastclick.js+js/vendor/placeholder.js)')
	script(src='static/js/main.js')
