doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
		title Baba Grammar Creator
		link(rel='stylesheet', href='static/css/main.css', type='text/css')

	body
		#layout
			.header-container
				header
					.container
						h1 Baba
						.slogan Create garbage texts

			.contents-container
				#contents
					ul.builder.builder-wordlist
						li.word
							span.word lorem
							ul.actions
								li.edit
									i.icon.icon-edit
								li.delete
									i.icon.icon-delete
						li.word
							span.word ipsum
							ul.actions
								li.edit
									i.icon.icon-edit
								li.delete
									i.icon.icon-delete
						li.word
							span.word dolor
							ul.actions
								li.edit
									i.icon.icon-edit
								li.delete
									i.icon.icon-delete

					// .builder.builder-sentence.preview
					.builder.builder-sentence
						.static lorem ipsum
						.placeholder.verb.verb-git-term
							ol.prefix.tf-misc.tf-misc-a-an
								li a/an
							.word
								.class verb
								.group git term
								.preview a reforking
							ol.postfix.tf-verb-tense.tf-verb-tense-pp
								li ·ing
								li ·s
							ul.actions
								li.edit
									i.icon.icon-edit
								li.delete
									i.icon.icon-delete
						.static dolor sit amet

			.footer-container
				footer
					p Baba Grammar Creator

	script(src='static/js/main.js')
